html,
body {
  height: 100vh;
  width: 100vw;
}

.calendar-screen {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.rbc-calendar {
  height: 100%;
}

/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;
  padding: 10px;
}

/* DatePicker */
.react-datetime-picker input:focus {
  outline: none;
}

.react-datetime-picker__wrapper {
  border: 0px solid #ccc !important;
}

.react-datetime-picker__inputGroup input,
select {
  color: #495057;
}

/* FAB */
.fab {
  background-color: #4285f4;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  bottom: 20px;
  width: 50px;
}

.fab-danger {
  background-color: red;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  bottom: 20px;
  left: 90px;
  width: 50px;
}
